:root {
    --bg:#f7f7f8;
    --card:#fff;
    --line:#eaeaea;
    --brand:#ff4d4f; 
}



body{
    margin:0;
    background:var(--bg);
    font-family:system-ui,Segoe UI,Roboto,Arial
}

.layout{
    display:grid;
    grid-template-columns: 240px 1fr;
    min-height:100vh
}

.side{
    background:#fff; 
    border-inline-end:1px solid var(--line);
    padding: 30px;

  
}

.logo {
  display: flex;
  align-items: center;
  gap: 0px; /* רווח קטן בין הטקסט לתמונה */
  margin-bottom: 10px;
}

.logo img {
  width: 120px;   /* גודל רוחב */
  height: 60px;  /* גובה */
  object-fit: contain; /* שהתמונה לא תתעוות */
}
.snav{display:grid; gap:8px}
.snav a{padding:8px 10px; border-radius:8px; text-decoration:none; color:#111}
.snav a.active{background:var(--brand); color:#fff}

.main{display:flex; flex-direction:column; min-width:0}


.top{
    display:flex;
    gap:12px;
    align-items:center; 
    padding:12px 16px; 
    border-bottom:1px solid var(--line); 
    background:#fff; 
    position:sticky; 
    top:0;
    width: 97%;     /* יתפרס על כל הרוחב */
       
    padding-right: 30px;
}

.search{
    flex:1; 
    padding:10px 12px; 
    border:1px solid var(--line);
    align-items:center; 
    margin-left: 150px;
    margin-right: 150px;
    background-color: #efefef;
    border-radius:250px; 
    outline:none
}

.userbox{opacity:.8}



.grid{display:grid; gap:16px; grid-template-columns: repeat(auto-fill, minmax(220px,1fr));}
.card{background:var(--card); border:1px solid var(--line); border-radius:14px; padding:16px; text-decoration:none; color:inherit}
.card-emoji{font-size:28px}
.card-title{font-weight:700; margin-top:6px}
.card-desc{opacity:.75; font-size:.95rem}
.price{margin-top:6px; font-weight:700}
.btn{margin-top:10px; background:var(--brand); color:#fff; border:none; padding:8px 12px; border-radius:10px; cursor:pointer}

@media (max-width: 900px){
  .layout{grid-template-columns: 1fr}
  .side{position:sticky; top:0; display:flex; gap:12px; overflow:auto}
}
